<div class-"container">

    <!-- Header Start -->
    <header class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto header">
                <img class="logo-img" src="public/assets/images/newlogo.png" alt="logo" />
                <p class="heading-text">Select an image below to get started creating your meme!</p>
                <button type="button" class="btn btn-dark mainButtons"><a href="memePage.html">Meme Page</a></button>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Thumbnails for the Modals -->
    <div class="album py-5">
        <div class="container">

            <div class="row">
                <!-- Thumbnail 1 -->
                <div class="col-sm-4">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                            src="https://res.cloudinary.com/opepope/image/upload/v1608260097/memes/queenmeme.jpg"
                            alt="The Queen" />

                        <div class="card-body">
                            <h2 class="card-text">The Queen <Meme></Meme>
                            </h2>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary view-img"
                                        data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
                                        View</It>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary meme-it">Meme It
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Thumbnail 2  -->
                <div class="col-sm-4">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                            src="https://res.cloudinary.com/opepope/image/upload/v1608260056/memes/bettywhite.jpg"
                            alt="Betty White" />

                        <div class="card-body">
                            <h2 class="card-text">Betty White </h2>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary view-img"
                                        data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                                        View
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary meme-it">Meme It
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Thumbnail 3  -->
                <div class="col-sm-4">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                            src="https://res.cloudinary.com/opepope/image/upload/v1608259543/memes/bidenobama.jpg"
                            alt="Biden & Obama" />

                        <div class="card-body">
                            <h2 class="card-text">Biden & Obama</h2>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary view-img"
                                        data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
                                        View
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary meme-it">Meme It
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Thumbnail 4  -->
                <div class="col-sm-4">
                <div class=" card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                        src="https://res.cloudinary.com/opepope/image/upload/v1608259218/memes/womanyellingcat.jpg"
                        alt="Woman Yelling at Cat" />

                    <div class="card-body">
                        <h2 class="card-text">Woman Yelling at Cat</h2>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary view-img"
                                    data-bs-toggle="modal" data-bs-target="#staticBackdrop4">
                                    View
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-secondary meme-it">Meme It </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Thumbnail 5  -->
            <div class="col-sm-4">
                <div class=" card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                    src="https://res.cloudinary.com/opepope/image/upload/v1608259162/memes/oldmanatdesk_.jpg"
                    alt="Cool Old Man" />

                <div class="card-body">
                    <h2 class="card-text">Cool Old Man</h2>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary view-img"
                                data-bs-toggle="modal" data-bs-target="#staticBackdrop5">
                                View
                            </button>
                            <button type="button" class="btn btn-sm btn-outline-secondary meme-it">Meme It </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Thumbnail 6  -->
        <div class="col-sm-4">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                    src="https://res.cloudinary.com/opepope/image/upload/v1608258781/memes/catroomguardian.jpg"
                    alt="Confused Cat" />

                <div class="card-body">
                    <h2 class="card-text">Confused Cat</h2>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary view-img"
                                data-bs-toggle="modal" data-bs-target="#staticBackdrop6">
                                View
                            </button>
                            <button type="button" class="btn btn-sm btn-outline-secondary meme-it">Meme It </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Thumbnail 7  -->
        <div class="col-sm-4">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                    src="https://res.cloudinary.com/opepope/image/upload/v1608257982/memes/everywhere.jpg"
                    alt="Woody & Buzz" />

                <div class="card-body">
                    <h2 class="card-text">Woody & Buzz </h2>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary view-img"
                                data-bs-toggle="modal" data-bs-target="#staticBackdrop7">
                                View
                            </button>
                            <button type="button" class="btn btn-sm btn-outline-secondary meme-it">Meme It </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Thumbnail 8  -->
        <div class="col-sm-4">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                    src="https://res.cloudinary.com/opepope/image/upload/v1608256328/memes/scaredcat.jpg"
                    alt="Scared Cat" />

                <div class="card-body">
                    <h2 class="card-text">Scared Cat</h2>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary view-img"
                                data-bs-toggle="modal" data-bs-target="#staticBackdrop8">
                                View
                            </button>
                            <button type="button" class="btn btn-sm btn-outline-secondary meme-it">Meme It </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Thumbnail 9  -->
        <div class="col-sm-4">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                    src="https://res.cloudinary.com/opepope/image/upload/v1608255633/memes/maury.jpg"
                    alt="Maury Povich" />

                <div class="card-body">
                    <h2 class="card-text">Maury Povich</h2>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary view-img"
                                data-bs-toggle="modal" data-bs-target="#staticBackdrop9">
                                View
                            </button>
                            <button type="button" class="btn btn-sm btn-outline-secondary meme-it">Meme It </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Thumbnail 10  -->
        <div class="col-sm-4">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                    src="https://res.cloudinary.com/opepope/image/upload/v1608255570/memes/willywonka.jpg"
                    alt="Willy Wonka" />

                <div class="card-body">
                    <h2 class="card-text">Willy Wonka</h2>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary view-img"
                                data-bs-toggle="modal" data-bs-target="#staticBackdrop10">
                                View
                            </button>
                            <button type="button" class="btn btn-sm btn-outline-secondary meme-it">Meme It </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Thumbnail 11  -->
        <div class="col-sm-4">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                    src="https://res.cloudinary.com/opepope/image/upload/v1608255570/memes/dude_and_girlfriend.jpg"
                    alt="Dude & Girlfriend" />

                <div class="card-body">
                    <h2 class="card-text">Dude & Girlfriend</h2>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary view-img"
                                data-bs-toggle="modal" data-bs-target="#staticBackdrop11">
                                View
                            </button>
                            <button type="button" class="btn btn-sm btn-outline-secondary meme-it">Meme It </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Thumbnail 12  -->
        <div class="col-sm-4">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                    src="https://res.cloudinary.com/opepope/image/upload/v1608252439/memes/drake.jpg" alt="Drake" />

                <div class="card-body">
                    <h2 class="card-text">Drake</h2>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary view-img"
                                data-bs-toggle="modal" data-bs-target="#staticBackdrop12">
                                View
                            </button>
                            <button type="button" class="btn btn-sm btn-outline-secondary meme-it">Meme It </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- End of Thumbnails -->



        <!-- Bootstrap Modal 1 -->
        <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">The Queen</Meme>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="https://res.cloudinary.com/opepope/image/upload/v1608260097/memes/queenmeme.jpg"
                            class="img-fluid" alt="The Queen">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close-button"
                            data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap Modal 2 -->
        <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Betty White</Meme>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="https://res.cloudinary.com/opepope/image/upload/v1608260056/memes/bettywhite.jpg"
                            class="img-fluid" alt="Betty White">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close-button"
                            data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap Modal 3 -->
        <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Biden & Obama</Meme>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="https://res.cloudinary.com/opepope/image/upload/v1608259543/memes/bidenobama.jpg"
                            class="img-fluid" alt="Biden & Obama">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close-button"
                            data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap Modal 4 -->
        <div class="modal fade" id="staticBackdrop4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Woman Yelling at Cat </Meme>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="https://res.cloudinary.com/opepope/image/upload/v1608259218/memes/womanyellingcat.jpg"
                            class="img-fluid" alt="Woman Yelling at Cat">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close-button"
                            data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap Modal 5 -->
        <div class="modal fade" id="staticBackdrop5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Cool Old Man</Meme>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="https://res.cloudinary.com/opepope/image/upload/v1608259162/memes/oldmanatdesk_.jpg"
                            class="img-fluid" alt="Cool Old Man">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close-button"
                            data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap Modal 6 -->
        <div class="modal fade" id="staticBackdrop6" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Confused Cat</Meme>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="https://res.cloudinary.com/opepope/image/upload/v1608258781/memes/catroomguardian.jpg"
                            class="img-fluid" alt="Confused Cat">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close-button"
                            data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap Modal 7 -->
        <div class="modal fade" id="staticBackdrop7" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Woody & Buzz </Meme>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="https://res.cloudinary.com/opepope/image/upload/v1608257982/memes/everywhere.jpg"
                            class="img-fluid" alt="Woody & Buzz">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close-button"
                            data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap Modal 8 -->
        <div class="modal fade" id="staticBackdrop8" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel"> Scared Cat</Meme>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="https://res.cloudinary.com/opepope/image/upload/v1608256328/memes/scaredcat.jpg"
                            class="img-fluid" alt="Scared Cat">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close-button"
                            data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap Modal 9 -->
        <div class="modal fade" id="staticBackdrop9" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel"> Maury Povich</Meme>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="https://res.cloudinary.com/opepope/image/upload/v1608255633/memes/maury.jpg"
                            class="img-fluid" alt="Maury Povich">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close-button"
                            data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap Modal 10 -->
        <div class="modal fade" id="staticBackdrop10" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel"> Willy Wonka</Meme>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="https://res.cloudinary.com/opepope/image/upload/v1608255570/memes/willywonka.jpg"
                            class="img-fluid" alt="Willy Wonka">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close-button"
                            data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap Modal 11 -->
        <div class="modal fade" id="staticBackdrop11" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel"> Dude & Girlfriend</Meme>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="https://res.cloudinary.com/opepope/image/upload/v1608255570/memes/dude_and_girlfriend.jpg"
                            class="img-fluid" alt="Dude & Girlfriend">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close-button"
                            data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap Modal 12 -->
        <div class="modal fade" id="staticBackdrop12" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel"> Drake</Meme>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="https://res.cloudinary.com/opepope/image/upload/v1608252439/memes/drake.jpg"
                            class="img-fluid" alt="Drake">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close-button"
                            data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Modals -->

        <!-- Start of Footer -->
        <footer class="container">
            <p class="float-end mb-1">
                <a class="top" href="#">Back to top</a>
            </p>
        </footer>
        <!-- End of Footer -->

    </div>