<div class="container-fluid" width='100%'>
    <div class="row mb-5">
        <div class="col text-center">
            <h1>Meme Girl Squad</h1>
            <img src="/assets/img/cuteMeme.png" alt="Meme" width="300px">
            <h5>Meme me!</h5>
        </div>
    </div>

    <!-- Start of Meme Card -->
    <div>
        <div class="card mb-3">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Enter Your Meme Text Here:</h5>
                <form>
                    <div class="mb-3">
                        <input type="text" class="form-control">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End of Meme Card -->