<!-- Header Start -->
<header class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto header">
            <img class="logo-img" src="/assets/images/newlogo.png" alt="logo" />
            <p class="heading-text">Follow the steps below to create your meme.</p>
            <button id="goHomeBtn" type="button" class="btn" onclick="location.href='/'">Home</button>
        </div>
    </div>
</header>
<!-- Header End -->

<!-- Start of Meme Creator -->
<div id="meme-generator" class="container mt-3 meme-generator2">
    <div class="row">
        <div class="col-sm-6">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="instructions">
                        <h2 class="h2-instructions">Step 1: Upload an Image</h2>

                        <div class="button-wrap">
                            <label class="button" for="img-input">Upload File</label>
                            <input id="img-input" type="file" accept="image/*">
                            <input type="text" id="choose-file" placeholder="No Image Selected" disabled="disabled" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="instructions">
                        <h2 class="h2-instructions">Step 2: Add Your Text</h2>
                        <div>
                            <p class="step-2-instructions">Type your meme text in the box below. The text will appear on
                                the bottom of the meme. Use the toggle to adjust the text size.</p>
                        </div>
                        <textarea id="bottom">Bottom Text</textarea>
                        <div class="text-size">Text Size:
                            <input type="range" id="bottom-text-size-input" min="0.05" max="0.25" value="0.15"
                                step="0.01" /> </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="instructions">
                        <h2 class="h2-instructions">Step 3: Create Your Meme</h2>
                        <button class="btn btn-primary" id="generate-btn-2">Generate Meme</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <!--Nested rows within a column-->
            <div class="row">
                <div id="step-4-col" class="col-12">
                    <h2 id="step-4" class="h2-instructions">Step 4: Edit &amp; Download Your Meme</h2>
                    <div id="step-4-instructions">
                        <p>To edit the text on your meme image after it has already been generated, use
                            the text box and toggle in step 2. Then, click the "Generate Meme" button
                            in step 3 to update your meme.</p>
                    </div>
                    <div id="meme-div">
                        <canvas id="meme-canvas"> </canvas>
                    </div>
                    <div>
                        <button class="btn download" id="download-btn" onclick="downloadMeme()">Download
                            Meme</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End of Meme Creator -->

<!-- Start of Footer -->
<footer class="container">
    <p class="float-end footer2">
        <a class="top" href="#">Back to top</a>
    </p>
</footer>
<!-- End of Footer -->
</div>