/* CSS HEX
-- Blue for meme thumbnails: #4c58a7;
-- Yellow: #FFE553;
-- Teal: #2FD3CB;
-- Light Purple: #9496FF;
-- Pink: #2FD3CB
-- White: #fefefeff; */

/* Generic Styling */
* {
  font-family: "Oswald", sans-serif;
  color: #fefefe;
}

/* Styling for Background Image */
body {
  background-image: url("newbg.png");
  background-color: #252525;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax {
  background-image: url("/newbg.png");
  background-color: #252525;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  min-height: 15rem;
  height: 500px;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
}

/* logo image styling */
.logo-img {
  width: 100%;
}

/* Styling for Instructions on index.html*/
.heading-text {
  color: #fefefe;
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-shadow: 2px 2px #4c58a7;
}

/* Meme Title Font on Meme Thumbnails */
h2 {
  color: #fefefe;
  font-family: "Molle", serif;
}

/* Titles on pop-up modals */
h5 {
  color: #000000;
}

.form-control {
  width: 75%;
}

/* View and Meme It Buttons on Thumbnail and Close Button on Pop-up Modal for Thumbnail */
.view-img,
.meme-it,
.close-button {
  background-color: #2fd3cb;
  color: #fefefe;
  border: 1px solid #fefefe;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}

.view-img:hover,
.meme-it:hover,
.close-button:hover {
  background-color: #fefefe;
  border: 1px solid #2fd3cb;
  color: #2fd3cb;
}

/* Meme Page Button and Home Page Button on index.html (won't need on final project)*/
.mainButtons {
  text-decoration: none;
  color: white;
  background-color: #2fd3cb;
  border: 1px solid #fefefe;
  font-family: "Oswald", sans-serif;
}

.mainButtons:hover {
  background-color: #fefefe;
  border: 1px solid #2fd3cb;
  color: #2fd3cb;
}

/* Card Styles for Image Thumbnails on index.html */
.card {
  background-color: #4c58a7;
}

.card-text {
  color: #fefefe;
}

.col-sm-4 {
  margin-bottom: 25px;
}

/* Back to Top Link */
.top {
  color: #fefefe;
  font-size: 18px;
  text-decoration: none;
}

.top:hover {
  text-decoration: underline;
  color: #fefefe;
}

/* Styling for memePage.html */

/* Styling for Div Container */
.meme-generator {
  background-color: #4c58a7;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

/* Styling for Text Boxes in Step 2 */
#top,
#bottom {
  color: #000000;
  width: 75%;
  margin-bottom: 10px;
}

#top-text-size-input,
#bottom-text-size-input {
  margin-bottom: 20px;
}

/* Styling for Generate Meme Button in Step 3 */
#generate-btn {
  background-color: #2fd3cb;
  color: #fefefe;
  border: 1px solid #fefefe;
  border-radius: 5px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  padding: 5px 10px;
}

#generate-btn:hover {
  background-color: #fefefe;
  border: 1px solid #2fd3cb;
  color: #2fd3cb;
}

/* Styling for Instruction Headings */
.h2-instructions {
  margin-bottom: 20px;
}

/* Styling for instructions divs */
.instructions {
  padding: 20px 20px 30px;
}

/* Choose File Button */
.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #fefefe;
  border-radius: 5px;
  background-color: #2fd3cb;
  font-size: 16px;
  color: #fff;
}

.fileUpload:hover {
  background-color: #fefefe;
  border: 1px solid #2fd3cb;
  font-size: 16px;
  color: #2fd3cb;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

/* Styling for file name field next to Choose File button */
input[type="text"]:disabled {
  background: #fefefe;
  color: #252525;
}

/* styling for div containing created meme */
#canvas {
  text-align: center;
}

#meme-canvas {
  width: 100%;
  padding: 20px 20px;
}
