/* CSS HEX
-- Blue for meme thumbnails: #4c58a7;
-- Yellow: #FFE553;
-- Teal: #2FD3CB;
-- Light Purple: #9496FF;
-- Pink: #2FD3CB
-- White: #fefefeff; */

/* Generic Styling */
* {
  font-family: "Oswald", sans-serif;
  color: #fefefe;
}

/* Styling for Background Image */
html,
body,
.parallax {
  background-image: url("/assets/images/newbg.png");
  background-color: #252525;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* logo image styling */
.logo-img {
  width: 100%;
}

#meme-library-logo {
  width: 100%;
  margin-bottom: 30px;
}

/* Styling for Instructions on index.html*/
.heading-text {
  color: #fefefe;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-shadow: 2px 2px #4c58a7;
  width: 100%;
}

/* Meme Title Font on Meme Thumbnails */
h2 {
  color: #fefefe;
  font-family: "VT323", monospace;
  font-size: 36px;
}

/* Titles on pop-up modals */
h5 {
  color: #000000;
}

.form-control {
  width: 75%;
}

/* View and Meme It Buttons on Thumbnail and Close Button on Pop-up Modal for Thumbnail */
.view-img,
.meme-it,
.close-button {
  background-color: #2fd3cb;
  color: #fefefe;
  border: 1px solid #fefefe;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
}

.view-img:hover,
.meme-it:hover,
.close-button:hover {
  background-color: #fefefe;
  border: 1px solid #2fd3cb;
  color: #2fd3cb;
}

/* Styling for the instructions card on index.html */
.card-instructions {
  background-color: rgba(37, 37, 37, 0.2);
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 100px;
}

/* Meme Maker Button on index.html*/
#memeMakerBtn {
  text-decoration: none;
  color: white;
  background-color: #2fd3cb;
  border: 1px solid #fefefe;
  font-family: "VT323", monospace;
  font-size: 32px;
  width: 200px;
  margin-top: 15px;
  margin-bottom: 10px;
}

#memeMakerBtn:hover {
  background-color: #fefefe;
  border: 1px solid #2fd3cb;
  color: #2fd3cb;
}

/* Meme Library on index.html*/
#memeLibrary {
  text-decoration: none;
  color: white;
  background-color: #f178ab;
  border: 1px solid #fefefe;
  font-family: "VT323", monospace;
  font-size: 32px;
  width: 200px;
  margin-top: 15px;
  margin-bottom: 20px;
}

#memeLibrary:hover {
  background-color: #fefefe;
  border: 1px solid #f178ab;
  color: #f178ab;
}

/* Meme Start on index.html*/
#memeStart {
  text-decoration: none;
  color: white;
  background-color: #e15e43;
  border: 1px solid #fefefe;
  font-family: "VT323", monospace;
  font-size: 32px;
  width: 200px;
  margin-top: 15px;
  margin-bottom: 20px;
}

#memeStart:hover {
  background-color: #fefefe;
  border: 1px solid #e15e43;
  color: #e15e43;
}

/* Home Button on memepage.html*/
#goHomeBtn {
  text-decoration: none;
  color: white;
  background-color: #4c58a7;
  border: 1px solid #fefefe;
  font-family: "VT323", monospace;
  font-size: 40px;
  width: 200px;
  margin-top: 15px;
  margin-bottom: 10px;
}

#goHomeBtn:hover {
  background-color: #fefefe;
  border: 1px solid #4c58a7;
  color: #4c58a7;
}

/* Card Styles for Image Thumbnails on index.html */
.card {
  background-color: #4c58a7;
}

.card-text {
  color: #fefefe;
}

.col-sm-4 {
  margin-bottom: 25px;
}

/* Styling for thumbnail images on cards */
.img-fit-horizontal {
  object-fit: cover;
}

.img-fit-vertical {
  object-fit: cover;
}

/* Back to Top Link */
.top {
  color: #fefefe;
  font-size: 18px;
  text-decoration: none;
}

.top:hover {
  text-decoration: underline;
  color: #fefefe;
}

/* Styling for Div Container on index.html */
.meme-generator1 {
  background-color: #4c58a7;
  padding: 30px 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 4px #e15e43;
  margin-top: 40px;
  margin-bottom: 50px;
}

/* Styling for Div Container on memepage.html */
.meme-generator2 {
  background-color: #4c58a7;
  padding: 20px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 4px #e15e43;
}

#col1 {
  padding-right: 30px;
}

#col2 {
  padding-right: 30px;
  padding-left: 30px;
}

#col3 {
  padding-left: 30px;
}

/* Styling for instruction parapgraphs in step 1 on index.html */
.step-1-instructions {
  font-size: 18px;
}

/* Styling for instruction parapgraphs in step 2 on index.html */
.step-2-instructions {
  font-size: 18px;
  padding-bottom: 15px;
}

/* Styling for instruction parapgraphs in step 3 on index.html */
.step-3-instructions {
  font-size: 18px;
  padding-bottom: 42px;
}

/* Styling for textarea in step 1 on index.html */
#choice {
  font-size: 18px;
  width: 100%;
  color: #252525;
}

/* Styling for Text Boxes in Step 2 on memepage.html */
#bottom,
#top {
  color: #7a7a7a;
  width: 90%;
  margin-bottom: 10px;
  font-size: 18px;
}

/* Styling for Text Boxes in Step 2 on index.html */
#bottom2 {
  color: #7a7a7a;
  width: 100%;
  margin-bottom: 10px;
  font-size: 18px;
}

.text-size {
  color: #fefefe;
  font-size: 18px;
}

#top-text-size-input {
  margin-bottom: 30px;
}

/* Styling for Generate Meme Button in Step 3 */
#generate-btn-1,
#generate-btn-2 {
  background-color: #2fd3cb;
  color: #fefefe;
  border: 1px solid #fefefe;
  border-radius: 5px;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  padding: 5px 10px;
}

#generate-btn-1:hover,
#generate-btn-2:hover {
  background-color: #fefefe;
  border: 1px solid #2fd3cb;
  color: #2fd3cb;
}

/* Styling for Instruction Headings */
.h2-instructions {
  margin-bottom: 20px;
}

/* Styling for the Step-4 Heading*/
#step-4 {
  padding-top: 20px;
}

/* Styling for instructions paragraphs in step 4 */
#step-4-instructions {
  margin-right: 30px;
  font-size: 18px;
}

/* Styling for step 4 column on memepage.html*/
#step-4-col {
  padding-left: 30px;
}

/* Styling for Download Meme Button in Step 4 */
.download {
  background-color: #2fd3cb;
  color: #fefefe;
  border: 1px solid #fefefe;
  border-radius: 5px;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  padding: 5px 10px;
  margin-bottom: 20px;
  visibility: hidden;
}

.download:hover {
  background-color: #fefefe;
  border: 1px solid #2fd3cb;
  color: #2fd3cb;
}

.visibility {
  visibility: visible;
}

/* Styling for instructions divs on left-hand side */
.instructions {
  padding: 20px 20px 30px;
}

/* Styling for Choose File Button */
input[type="file"] {
  position: absolute;
  z-index: -1;
  top: 15px;
  left: 20px;
  font-size: 18px;
  color: #b8b8b8;
}
.button-wrap {
  position: relative;
}
.button {
  display: inline-block;
  background-color: #2fd3cb;
  border-radius: 5px;
  border: 1px solid #fefefe;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 5px 10px;
  margin-bottom: 5px;
  width: 100px;
  cursor: pointer;
}
.button:hover {
  background-color: #fefefe;
  border: 1px solid #2fd3cb;
  font-family: "Oswald", sans-serif;
  color: #2fd3cb;
}

/* Styling for file name field next to Choose File button */
input[type="text"]:disabled {
  background: #fefefe;
  color: #252525;
}
*/

/* styling for the canvas with meme */
#meme-div {
  text-align: center;
  margin: 20px 20px 20px 0px;
}
#meme-canvas {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

/* Styling for the footer on the memepage */
.footer2 {
  padding-bottom: 75px;
}
